Repository soulwhisper/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/talos, area/taskfile

fix(k8s): update coroot values, add securityContext to external-dns
  .archived/kubernetes/deepflow/app/helmrelease.yaml
  .archived/kubernetes/deepflow/app/helmrepository.yaml
  .archived/kubernetes/deepflow/app/kustomization.yaml
  .archived/kubernetes/deepflow/ks.yaml
  .github/workflows/pre-pull-images.yaml
  infrastructure/talos/clusterconfig/.gitignore
  kubernetes/apps/monitoring-system/coroot/app/config.yaml
  kubernetes/apps/monitoring-system/coroot/app/helmrelease.yaml
  kubernetes/apps/monitoring-system/coroot/app/httproute.yaml
  kubernetes/apps/monitoring-system/coroot/app/kustomization.yaml
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
  kubernetes/apps/networking-system/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking-system/external-dns/rfc2136/helmrelease.yaml
Labels: area/github, area/kubernetes, area/talos

todo: rename cephCluster when prod
  kubernetes/apps/storage-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage-system/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(k8s): add more proxy
  docs/src/deployment/memo.md
  kubernetes/apps/database-system/crunchy-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/gitops-system/flux-operator/instance/values.yaml
  kubernetes/apps/gitops-system/talos-backup/app/cronjob.yaml
  kubernetes/apps/monitoring-system/alertmanager/app/config/alertmanager.yml
  kubernetes/apps/monitoring-system/coroot/app/config.yaml
  kubernetes/apps/monitoring-system/grafana/app/helmrelease.yaml
  kubernetes/apps/networking-system/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
  kubernetes/apps/networking-system/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/security-system/cert-manager/app/values.yaml
  kubernetes/apps/security-system/onepassword-connect/app/helmrelease.yaml
Labels: area/kubernetes

fix(k8s): fix minor bugs
  infrastructure/router/README.md
  kubernetes/apps/monitoring-system/alertmanager/app/config/alertmanager.yml
  kubernetes/apps/monitoring-system/coroot/app/config.yaml
  kubernetes/apps/selfhosted-apps/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(infra): add vyos
  infrastructure/router/README.md
Labels: none

fix(k8s): fix permissions - fix talos-backup sa-token - fix cephCluster - add proxy to operators
  .archived/kubernetes/deepflow/app/helmrelease.yaml
  .archived/kubernetes/deepflow/app/helmrepository.yaml
  .archived/kubernetes/deepflow/app/kustomization.yaml
  .archived/kubernetes/deepflow/ks.yaml
  .github/workflows/pre-pull-images.yaml
  docs/src/deployment/memo.md
  infrastructure/router/README.md
  infrastructure/talos/clusterconfig/.gitignore
  kubernetes/apps/database-system/crunchy-postgres-operator/app/helmrelease.yaml
  kubernetes/apps/gitops-system/flux-operator/instance/values.yaml
  kubernetes/apps/gitops-system/talos-backup/app/cronjob.yaml
  kubernetes/apps/gitops-system/talos-backup/app/externalsecret.yaml
  kubernetes/apps/media-apps/ocis/app/helmrelease.yaml
  kubernetes/apps/monitoring-system/alertmanager/app/config/alertmanager.yml
  kubernetes/apps/monitoring-system/coroot/app/config.yaml
  kubernetes/apps/monitoring-system/coroot/app/helmrelease.yaml
  kubernetes/apps/monitoring-system/coroot/app/httproute.yaml
  kubernetes/apps/monitoring-system/coroot/app/kustomization.yaml
  kubernetes/apps/monitoring-system/grafana/app/helmrelease.yaml
  kubernetes/apps/networking-system/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking-system/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking-system/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
  kubernetes/apps/networking-system/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking-system/external-dns/rfc2136/helmrelease.yaml
  kubernetes/apps/security-system/cert-manager/app/values.yaml
  kubernetes/apps/security-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/security-system/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/selfhosted-apps/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted-apps/piped/app/helmrelease.yaml
  kubernetes/apps/storage-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage-system/rook-ceph/ks.yaml
Labels: area/github, area/kubernetes, area/talos

fix(talos): config tunning
  .taskfiles/bootstrap/Taskfile.yaml
  infrastructure/talos/talconfig.full.yaml
  infrastructure/talos/talconfig.prod.yaml
  infrastructure/talos/talconfig.test.yaml
  kubernetes/apps/monitoring-system/kustomization.yaml
  kubernetes/apps/storage-system/kustomization.yaml
Labels: area/kubernetes, area/talos, area/taskfile

patch(task): fix path
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/talos/talconfig.full.yaml
  infrastructure/talos/talconfig.prod.yaml
  infrastructure/talos/talconfig.test.yaml
Labels: area/talos, area/taskfile

patch(talos): add comment
  infrastructure/talos/talconfig.full.yaml
  infrastructure/talos/talconfig.prod.yaml
  infrastructure/talos/talconfig.test.yaml
Labels: area/talos

fix(k8s): fix pgo & ceph
  kubernetes/apps/database-system/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/apps/storage-system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(k8s): fix pgo secrets
  kubernetes/apps/database-system/crunchy-postgres-operator/clustersecretstore/clustersecretstore.yaml
Labels: area/kubernetes

fix(k8s): fix cloudflared
  kubernetes/apps/networking-system/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(k8s): fix externaldns-adguard
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
Labels: area/kubernetes

fix(talos): update sysctl
  infrastructure/talos/talconfig.full.yaml
  infrastructure/talos/talconfig.prod.yaml
  infrastructure/talos/talconfig.test.yaml
  kubernetes/apps/networking-system/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, area/talos

fix(k8s): cilium rollback to v1.6 for cloudflared
  docs/src/deployment/memo.md
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/networking-system/cloudflared/app/helmrelease.yaml
  kubernetes/bootstrap/helmfile.yaml
Labels: area/bootstrap, area/kubernetes

fix(k8s): migrate back to cilium helm
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrepository.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/bootstrap/helmfile.yaml
Labels: area/bootstrap, area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/apps/**/*"
          - "kubernetes/components/**/*"
          - "kubernetes/flux/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - "renovate.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
