Repository soulwhisper/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/talos, area/taskfile

patch(doc): fix typo
  docs/src/deployment/memo.md
Labels: none

chore(ci): exclude '.github' folder
  devenv.nix
Labels: none

fix(task): update tasks
  .taskfiles/fix/Taskfile.yaml
Labels: area/taskfile

fix(k8s): fix incorrect chart
  kubernetes/apps/media-apps/kustomization.yaml
  kubernetes/apps/media-apps/paperless/app/externalsecret.yaml
  kubernetes/apps/media-apps/paperless/app/helmrelease.yaml
  kubernetes/apps/media-apps/paperless/app/kustomization.yaml
  kubernetes/apps/media-apps/paperless/ks.yaml
  kubernetes/apps/monitoring-system/coroot/app/helmrelease.yaml
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
  kubernetes/apps/networking-system/external-dns/adguard/helmrepository.yaml
  kubernetes/apps/networking-system/external-dns/adguard/kustomization.yaml
  kubernetes/apps/networking-system/external-dns/adguard/ocirepository.yaml
Labels: area/kubernetes

fix(k8s): remove cosign
  kubernetes/apps/database-system/crunchy-postgres-operator/app/ocirepository.yaml
  kubernetes/apps/gitops-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/gitops-system/actions-runner-controller/runners/ocirepository.yaml
  kubernetes/apps/gitops-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/gitops-system/flux-operator/instance/ocirepository.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-device-plugins/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-device-plugins/gpu/ocirepository.yaml
  kubernetes/apps/kube-system/metrics-server/app/ocirepository.yaml
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/monitoring-system/grafana/app/ocirepository.yaml
  kubernetes/apps/monitoring-system/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/monitoring-system/kube-state-metrics/app/ocirepository.yaml
  kubernetes/apps/monitoring-system/loki/app/ocirepository.yaml
  kubernetes/apps/monitoring-system/node-exporter/app/ocirepository.yaml
  kubernetes/apps/monitoring-system/prometheus-operator/crds/ocirepository.yaml
  kubernetes/apps/monitoring-system/promtail/app/ocirepository.yaml
  kubernetes/apps/monitoring-system/smartctl-exporter/app/ocirepository.yaml
  kubernetes/apps/networking-system/external-dns/adguard/ocirepository.yaml
  kubernetes/apps/networking-system/external-dns/cloudflare/ocirepository.yaml
  kubernetes/apps/security-system/cert-manager/app/ocirepository.yaml
  kubernetes/apps/security-system/external-secrets/app/ocirepository.yaml
  kubernetes/apps/storage-system/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/storage-system/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/storage-system/snapshot-controller/app/ocirepository.yaml
  kubernetes/apps/storage-system/volsync/app/ocirepository.yaml
  kubernetes/infrastructure/flux/repositories/app-template.yaml
Labels: area/kubernetes

chore(task): change var name
  .taskfiles/fix/Taskfile.yaml
Labels: area/taskfile

feat(task): add flux-hr-restart
  .taskfiles/flux/Taskfile.yaml
Labels: area/taskfile

fix(k8s): fix securityContext and uid:gid
  kubernetes/apps/gitops-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/gitops-system/talos-backup/app/cronjob.yaml
  kubernetes/apps/media-apps/ocis/app/helmrelease.yaml
  kubernetes/apps/media-apps/ytdl-sub/app/helmrelease.yaml
  kubernetes/apps/monitoring-system/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring-system/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring-system/silence-operator/app/helmrelease.yaml
  kubernetes/apps/networking-system/cloudflared/app/helmrelease.yaml
  kubernetes/apps/security-system/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/selfhosted-apps/freshrss/app/helmrelease.yaml
  kubernetes/apps/selfhosted-apps/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted-apps/n8n/app/helmrelease.yaml
  kubernetes/apps/selfhosted-apps/piped/app/helmrelease.yaml
  kubernetes/components/volsync/local-s3/replicationdestination.yaml
  kubernetes/components/volsync/local-s3/replicationsource.yaml
  kubernetes/components/volsync/remote-s3/replicationsource.yaml
Labels: area/kubernetes

fix(k8s): fix flux proxy
  kubernetes/apps/gitops-system/flux-operator/instance/values.yaml
Labels: area/kubernetes

fix(k8s): fix ocis pvc
  kubernetes/apps/media-apps/ocis/app/helmrelease.yaml
Labels: area/kubernetes

fix(k8s): fix adguard hr
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
Labels: area/kubernetes

fix(k8s): fix external-dns values
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
Labels: area/kubernetes

fix(k8s): update adguard values
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
Labels: area/kubernetes

patch(k8s): update coredns values
  kubernetes/apps/kube-system/coredns/app/values.yaml
Labels: area/kubernetes

fix(k8s): update cilium values
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(k8s): fix cilium values
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(k8s): fix grafana dashboard
  kubernetes/apps/monitoring-system/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(k8s): prepare for talos 1.10
  kubernetes/infrastructure/talos/talconfig.yaml
Labels: area/talos

fix(deps): update app-template url
  kubernetes/infrastructure/flux/repositories/app-template.yaml
Labels: area/kubernetes

patch(k8s): cleanup
  kubernetes/apps/storage-system/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

patch(k8s): fix dashboard renovate
  kubernetes/apps/monitoring-system/grafana/app/helmrelease.yaml
Labels: area/kubernetes

patch(k8s): fix volsync jitter
  kubernetes/apps/storage-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

patch(k8s): cleanup cilium values
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

patch(doc): update docs
  docs/src/deployment/memo.md
Labels: none

chore(k8s): seprate talos test&prod env
  .archived/kubernetes/bfd/bird.conf
  .archived/kubernetes/bfd/daemonset.yaml
  .archived/kubernetes/bfd/kustomization.yaml
  .archived/kubernetes/multus/app/crds.yaml
  .archived/kubernetes/multus/app/helmrelease.yaml
  .archived/kubernetes/multus/app/kustomization.yaml
  .archived/kubernetes/multus/app/rbac.yaml
  .archived/kubernetes/multus/ks.yaml
  .archived/kubernetes/multus/networks/iot.yaml
  .archived/kubernetes/multus/networks/kustomization.yaml
  .taskfiles/talos/Taskfile.yaml
  docs/src/deployment/memo.md
  kubernetes/apps/storage-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/infrastructure/talos/talconfig.full.yaml
  kubernetes/infrastructure/talos/talconfig.prod.yaml
  kubernetes/infrastructure/talos/talconfig.test.yaml
Labels: area/kubernetes, area/talos, area/taskfile

patch(k8s): update talconfig
  docs/src/deployment/memo.md
  kubernetes/infrastructure/talos/talconfig.full.yaml
  kubernetes/infrastructure/talos/talconfig.prod.yaml
  kubernetes/infrastructure/talos/talconfig.test.yaml
  kubernetes/infrastructure/talos/talhelper.env
Labels: area/talos

fix(k8s): fix path
  kubernetes/apps/media-apps/ocis/app/helmrelease.yaml
  kubernetes/apps/media-apps/ytdl-sub/app/helmrelease.yaml
Labels: area/kubernetes

feat(k8s): predictable names and codeql
  .github/workflows/codeql.yaml
  kubernetes/apps/gitops-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/gitops-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/infrastructure/talos/talconfig.full.yaml
  kubernetes/infrastructure/talos/talconfig.prod.yaml
  kubernetes/infrastructure/talos/talconfig.test.yaml
Labels: area/github, area/kubernetes, area/talos

fix(ci): add permissions
  .github/workflows/auto-lint-fixer.yaml
  .github/workflows/codeql.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/make-docs.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/schedule-cleanup.yml
Labels: area/github

chore(ci): set schedule
  .github/workflows/auto-lint-fixer.yaml
  .github/workflows/codeql.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

patch(k8s): update prod talconfig
  kubernetes/infrastructure/talos/talconfig.full.yaml
  kubernetes/infrastructure/talos/talconfig.prod.yaml
Labels: area/talos

feat(task): add getimage
  .taskfiles/talos/Taskfile.yaml
  docs/src/deployment/memo.md
  kubernetes/infrastructure/talos/schematic/prod.yaml
  kubernetes/infrastructure/talos/schematic/test.yaml
  kubernetes/infrastructure/talos/talconfig.full.yaml
  kubernetes/infrastructure/talos/talconfig.prod.yaml
  kubernetes/infrastructure/talos/talconfig.test.yaml
Labels: area/talos, area/taskfile

chore(task): getimage use /tmp
  .taskfiles/fix/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fix(k8s): fix talos-backup
  kubernetes/apps/gitops-system/talos-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(k8s): add securitycontext
  kubernetes/apps/networking-system/external-dns/adguard/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/infrastructure/bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/apps/**/*"
          - "kubernetes/components/**/*"
          - "kubernetes/infrastructure/flux/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - "renovate.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/infrastructure/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
